# MSDS 620 Week 2 Lab
## Natalia Weakly
## Merging, Joining and Null Values
### 1/27/2019
### Task 1

### Prepare data

In [1]:
import pandas as pd

In [2]:
#Create dataframes
#Creating dataframes for employees, departments, and branch offices
# used a random name generator for employees names - current employees, no missing values in this dataframe
currentemployees=pd.DataFrame({'employeeId': ['e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12', 'e13', 'e14', 'e15', 'e16', 'e17', 'e18', 'e19', 'e20', 'e21', 'e22', 'e23', 'e24', 'e25', 'e26', 'e27', 'e28', 'e29', 'e30'], \
                        'name': ['Kittie Anstett', 'Clemente Chastain', 'Merrilee Stong', 'Shaunda Kowalczyk',\
                                 'Rita Burbridge', 'Shirlene Pagan', 'Dakota Earley', 'Agatha Kiesling', \
                                 'Muriel Dauphin', 'Alexia Everest', 'Mai Mackiewicz', \
                                 'Moon Asbell', 'Lashunda Swinford', 'Moshe Stefani', 'Huong Tabares', \
                                 'Wiley Simoneau', 'Reagan Masi', 'Marget Ary', 'Mohammed Polhemus', \
                                 'Carmen Uchida', 'Vannesa Boivin', 'Samella Milsap', 'Tabatha Gonser', 'Lucas Dupras', \
                                 'Nisha Hidalgo', 'Maisie Covey', 'Grayce Leishman', 'Joshua Hewitt', 'Trenton Romo', \
                                 'Manuel Euell'], \
                        'departmentId': ['d1', 'd2', 'd3', 'd4', 'd5', 'd1', 'd2', 'd3','d4', 'd5', 'd1', 'd2', 'd3', 'd4', 'd5', 'd1', 'd2', 'd3', 'd4', 'd5', 'd1', 'd2', 'd3', 'd4', 'd5', 'd1', 'd2', 'd3', 'd4', 'd5'], \
                        'branchId':['b1', 'b2', 'b3', 'b1', 'b2', 'b3', 'b1', 'b2', 'b3', 'b1', 'b2', 'b3', 'b1', 'b2', 'b3', 'b1', 'b2', 'b3', 'b1', 'b2', 'b3', 'b1', 'b2', 'b3', 'b1', 'b2', 'b3', 'b1', 'b2', 'b3']})
departments=pd.DataFrame({'departmentId':['d1', 'd2', 'd3', 'd4', 'd5', 'd6'], 'departmentName':['IT', 'Sales', 'HR', 'Customer Support', 'Finance', 'Manufacturing']})
branchoffices=pd.DataFrame({'branchId':['b1', 'b2', 'b3', 'b4'], 'branchName':['Downtown', 'Uptown', 'Midtown', 'Middle of Nowhere']})

In [3]:
#Check the content of the currentemployees data frame
currentemployees

   employeeId               name departmentId branchId
0          e1     Kittie Anstett           d1       b1
1          e2  Clemente Chastain           d2       b2
2          e3     Merrilee Stong           d3       b3
3          e4  Shaunda Kowalczyk           d4       b1
4          e5     Rita Burbridge           d5       b2
5          e6     Shirlene Pagan           d1       b3
6          e7      Dakota Earley           d2       b1
7          e8    Agatha Kiesling           d3       b2
8          e9     Muriel Dauphin           d4       b3
9         e10     Alexia Everest           d5       b1
10        e11     Mai Mackiewicz           d1       b2
11        e12        Moon Asbell           d2       b3
12        e13  Lashunda Swinford           d3       b1
13        e14      Moshe Stefani           d4       b2
14        e15      Huong Tabares           d5       b3
15        e16     Wiley Simoneau           d1       b1
16        e17        Reagan Masi           d2       b2
17        e18         Marget Ary           d3       b3
18        e19  Mohammed Polhemus           d4       b1
19        e20      Carmen Uchida           d5       b2
20        e21     Vannesa Boivin           d1       b3
21        e22     Samella Milsap           d2       b1
22        e23     Tabatha Gonser           d3       b2
23        e24       Lucas Dupras           d4       b3
24        e25      Nisha Hidalgo           d5       b1
25        e26       Maisie Covey           d1       b2
26        e27    Grayce Leishman           d2       b3
27        e28      Joshua Hewitt           d3       b1
28        e29       Trenton Romo           d4       b2
29        e30       Manuel Euell           d5       b3

In [4]:
#Add retired and/or newly hired employees (= Not currently assigned to any departments or branch offices) to the otheremployees dataframe
otheremployees=pd.DataFrame({'employeeId': ['e31', 'e32', 'e33'], 'name': ['Happy Retiree', 'New Hire', 'Missing Employee']})

In [5]:
#construct the full employees dataframe
#concatenate row with different columns
employees = pd.concat([currentemployees, otheremployees], ignore_index=True, sort=False)

In [6]:
#Check resulting full employees dataframe
employees

   employeeId               name departmentId branchId
0          e1     Kittie Anstett           d1       b1
1          e2  Clemente Chastain           d2       b2
2          e3     Merrilee Stong           d3       b3
3          e4  Shaunda Kowalczyk           d4       b1
4          e5     Rita Burbridge           d5       b2
5          e6     Shirlene Pagan           d1       b3
6          e7      Dakota Earley           d2       b1
7          e8    Agatha Kiesling           d3       b2
8          e9     Muriel Dauphin           d4       b3
9         e10     Alexia Everest           d5       b1
10        e11     Mai Mackiewicz           d1       b2
11        e12        Moon Asbell           d2       b3
12        e13  Lashunda Swinford           d3       b1
13        e14      Moshe Stefani           d4       b2
14        e15      Huong Tabares           d5       b3
15        e16     Wiley Simoneau           d1       b1
16        e17        Reagan Masi           d2       b2
17        e18         Marget Ary           d3       b3
18        e19  Mohammed Polhemus           d4       b1
19        e20      Carmen Uchida           d5       b2
20        e21     Vannesa Boivin           d1       b3
21        e22     Samella Milsap           d2       b1
22        e23     Tabatha Gonser           d3       b2
23        e24       Lucas Dupras           d4       b3
24        e25      Nisha Hidalgo           d5       b1
25        e26       Maisie Covey           d1       b2
26        e27    Grayce Leishman           d2       b3
27        e28      Joshua Hewitt           d3       b1
28        e29       Trenton Romo           d4       b2
29        e30       Manuel Euell           d5       b3
30        e31      Happy Retiree          NaN      NaN
31        e32           New Hire          NaN      NaN
32        e33   Missing Employee          NaN      NaN

In [7]:
#Check content of the departments dataframe
departments

  departmentId    departmentName
0           d1                IT
1           d2             Sales
2           d3                HR
3           d4  Customer Support
4           d5           Finance
5           d6     Manufacturing

In [8]:
#Display the content of the branchoffices dataframe
branchoffices

  branchId         branchName
0       b1           Downtown
1       b2             Uptown
2       b3            Midtown
3       b4  Middle of Nowhere

### Join and Merge

In [9]:
#Left join - employees and departments tables
pd.merge(employees, departments, on='departmentId', how='left')

   employeeId               name departmentId branchId    departmentName
0          e1     Kittie Anstett           d1       b1                IT
1          e2  Clemente Chastain           d2       b2             Sales
2          e3     Merrilee Stong           d3       b3                HR
3          e4  Shaunda Kowalczyk           d4       b1  Customer Support
4          e5     Rita Burbridge           d5       b2           Finance
5          e6     Shirlene Pagan           d1       b3                IT
6          e7      Dakota Earley           d2       b1             Sales
7          e8    Agatha Kiesling           d3       b2                HR
8          e9     Muriel Dauphin           d4       b3  Customer Support
9         e10     Alexia Everest           d5       b1           Finance
10        e11     Mai Mackiewicz           d1       b2                IT
11        e12        Moon Asbell           d2       b3             Sales
12        e13  Lashunda Swinford           d3       b1                HR
13        e14      Moshe Stefani           d4       b2  Customer Support
14        e15      Huong Tabares           d5       b3           Finance
15        e16     Wiley Simoneau           d1       b1                IT
16        e17        Reagan Masi           d2       b2             Sales
17        e18         Marget Ary           d3       b3                HR
18        e19  Mohammed Polhemus           d4       b1  Customer Support
19        e20      Carmen Uchida           d5       b2           Finance
20        e21     Vannesa Boivin           d1       b3                IT
21        e22     Samella Milsap           d2       b1             Sales
22        e23     Tabatha Gonser           d3       b2                HR
23        e24       Lucas Dupras           d4       b3  Customer Support
24        e25      Nisha Hidalgo           d5       b1           Finance
25        e26       Maisie Covey           d1       b2                IT
26        e27    Grayce Leishman           d2       b3             Sales
27        e28      Joshua Hewitt           d3       b1                HR
28        e29       Trenton Romo           d4       b2  Customer Support
29        e30       Manuel Euell           d5       b3           Finance
30        e31      Happy Retiree          NaN      NaN               NaN
31        e32           New Hire          NaN      NaN               NaN
32        e33   Missing Employee          NaN      NaN               NaN

The above output includes all records from the employees table (including past/newly hired unassigned employees), but only those departments that have employees assigned to them (e.g., there is no manufacturing department on the list).

In [11]:
#Right join - employees and branchoffices table
pd.merge(employees, branchoffices, on='branchId', how='right')

   employeeId               name departmentId branchId         branchName
0          e1     Kittie Anstett           d1       b1           Downtown
1          e4  Shaunda Kowalczyk           d4       b1           Downtown
2          e7      Dakota Earley           d2       b1           Downtown
3         e10     Alexia Everest           d5       b1           Downtown
4         e13  Lashunda Swinford           d3       b1           Downtown
5         e16     Wiley Simoneau           d1       b1           Downtown
6         e19  Mohammed Polhemus           d4       b1           Downtown
7         e22     Samella Milsap           d2       b1           Downtown
8         e25      Nisha Hidalgo           d5       b1           Downtown
9         e28      Joshua Hewitt           d3       b1           Downtown
10         e2  Clemente Chastain           d2       b2             Uptown
11         e5     Rita Burbridge           d5       b2             Uptown
12         e8    Agatha Kiesling           d3       b2             Uptown
13        e11     Mai Mackiewicz           d1       b2             Uptown
14        e14      Moshe Stefani           d4       b2             Uptown
15        e17        Reagan Masi           d2       b2             Uptown
16        e20      Carmen Uchida           d5       b2             Uptown
17        e23     Tabatha Gonser           d3       b2             Uptown
18        e26       Maisie Covey           d1       b2             Uptown
19        e29       Trenton Romo           d4       b2             Uptown
20         e3     Merrilee Stong           d3       b3            Midtown
21         e6     Shirlene Pagan           d1       b3            Midtown
22         e9     Muriel Dauphin           d4       b3            Midtown
23        e12        Moon Asbell           d2       b3            Midtown
24        e15      Huong Tabares           d5       b3            Midtown
25        e18         Marget Ary           d3       b3            Midtown
26        e21     Vannesa Boivin           d1       b3            Midtown
27        e24       Lucas Dupras           d4       b3            Midtown
28        e27    Grayce Leishman           d2       b3            Midtown
29        e30       Manuel Euell           d5       b3            Midtown
30        NaN                NaN          NaN       b4  Middle of Nowhere

The output above includes all branch offices from the branchoffices table (including branch with the Id 'b4' -"Middle of Nowhere" that does not have any employees assigned to it), but only current employees (e.g. employees without a branch assignment are excluded).

In [13]:
#Outer join
pd.merge(employees, departments, on='departmentId', how='outer')

   employeeId               name departmentId branchId    departmentName
0          e1     Kittie Anstett           d1       b1                IT
1          e6     Shirlene Pagan           d1       b3                IT
2         e11     Mai Mackiewicz           d1       b2                IT
3         e16     Wiley Simoneau           d1       b1                IT
4         e21     Vannesa Boivin           d1       b3                IT
5         e26       Maisie Covey           d1       b2                IT
6          e2  Clemente Chastain           d2       b2             Sales
7          e7      Dakota Earley           d2       b1             Sales
8         e12        Moon Asbell           d2       b3             Sales
9         e17        Reagan Masi           d2       b2             Sales
10        e22     Samella Milsap           d2       b1             Sales
11        e27    Grayce Leishman           d2       b3             Sales
12         e3     Merrilee Stong           d3       b3                HR
13         e8    Agatha Kiesling           d3       b2                HR
14        e13  Lashunda Swinford           d3       b1                HR
15        e18         Marget Ary           d3       b3                HR
16        e23     Tabatha Gonser           d3       b2                HR
17        e28      Joshua Hewitt           d3       b1                HR
18         e4  Shaunda Kowalczyk           d4       b1  Customer Support
19         e9     Muriel Dauphin           d4       b3  Customer Support
20        e14      Moshe Stefani           d4       b2  Customer Support
21        e19  Mohammed Polhemus           d4       b1  Customer Support
22        e24       Lucas Dupras           d4       b3  Customer Support
23        e29       Trenton Romo           d4       b2  Customer Support
24         e5     Rita Burbridge           d5       b2           Finance
25        e10     Alexia Everest           d5       b1           Finance
26        e15      Huong Tabares           d5       b3           Finance
27        e20      Carmen Uchida           d5       b2           Finance
28        e25      Nisha Hidalgo           d5       b1           Finance
29        e30       Manuel Euell           d5       b3           Finance
30        e31      Happy Retiree          NaN      NaN               NaN
31        e32           New Hire          NaN      NaN               NaN
32        e33   Missing Employee          NaN      NaN               NaN
33        NaN                NaN           d6      NaN     Manufacturing

The outer join produced the output that includes all records from the employees table and all records from the departments table (including unassigned employees and the Manufacturing department that currently does not have any employees in it).

In [14]:
#Inner join
pd.merge(employees, departments, how='inner')

   employeeId               name departmentId branchId    departmentName
0          e1     Kittie Anstett           d1       b1                IT
1          e6     Shirlene Pagan           d1       b3                IT
2         e11     Mai Mackiewicz           d1       b2                IT
3         e16     Wiley Simoneau           d1       b1                IT
4         e21     Vannesa Boivin           d1       b3                IT
5         e26       Maisie Covey           d1       b2                IT
6          e2  Clemente Chastain           d2       b2             Sales
7          e7      Dakota Earley           d2       b1             Sales
8         e12        Moon Asbell           d2       b3             Sales
9         e17        Reagan Masi           d2       b2             Sales
10        e22     Samella Milsap           d2       b1             Sales
11        e27    Grayce Leishman           d2       b3             Sales
12         e3     Merrilee Stong           d3       b3                HR
13         e8    Agatha Kiesling           d3       b2                HR
14        e13  Lashunda Swinford           d3       b1                HR
15        e18         Marget Ary           d3       b3                HR
16        e23     Tabatha Gonser           d3       b2                HR
17        e28      Joshua Hewitt           d3       b1                HR
18         e4  Shaunda Kowalczyk           d4       b1  Customer Support
19         e9     Muriel Dauphin           d4       b3  Customer Support
20        e14      Moshe Stefani           d4       b2  Customer Support
21        e19  Mohammed Polhemus           d4       b1  Customer Support
22        e24       Lucas Dupras           d4       b3  Customer Support
23        e29       Trenton Romo           d4       b2  Customer Support
24         e5     Rita Burbridge           d5       b2           Finance
25        e10     Alexia Everest           d5       b1           Finance
26        e15      Huong Tabares           d5       b3           Finance
27        e20      Carmen Uchida           d5       b2           Finance
28        e25      Nisha Hidalgo           d5       b1           Finance
29        e30       Manuel Euell           d5       b3           Finance

The inner join resulted in a set of records that have matches in both tables (all current employees assigned to departments and only departments that have employees).

In [15]:
#Show a list of current employees, their corresponding departments and  branch offices
pd.merge(pd.merge(employees, departments, how='inner'), branchoffices, how='inner')

,employeeId,name,departmentId,branchId,departmentName,branchName
0,e1,Kittie Anstett,d1,b1,IT,Downtown
1,e16,Wiley Simoneau,d1,b1,IT,Downtown
2,e7,Dakota Earley,d2,b1,Sales,Downtown
3,e22,Samella Milsap,d2,b1,Sales,Downtown
4,e13,Lashunda Swinford,d3,b1,HR,Downtown
5,e28,Joshua Hewitt,d3,b1,HR,Downtown
6,e4,Shaunda Kowalczyk,d4,b1,Customer Support,Downtown
7,e19,Mohammed Polhemus,d4,b1,Customer Support,Downtown
8,e10,Alexia Everest,d5,b1,Finance,Downtown
9,e25,Nisha Hidalgo,d5,b1,Finance,Downtown
10,e6,Shirlene Pagan,d1,b3,IT,Midtown
11,e21,Vannesa Boivin,d1,b3,IT,Midtown
12,e12,Moon Asbell,d2,b3,Sales,Midtown
13,e27,Grayce Leishman,d2,b3,Sales,Midtown
14,e3,Merrilee Stong,d3,b3,HR,Midtown
15,e18,Marget Ary,d3,b3,HR,Midtown
16,e9,Muriel Dauphin,d4,b3,Customer Support,Midtown
17,e24,Lucas Dupras,d4,b3,Customer Support,Midtown
18,e15,Huong Tabares,d5,b3,Finance,Midtown
19,e30,Manuel Euell,d5,b3,Finance,Midtown
20,e11,Mai Mackiewicz,d1,b2,IT,Uptown
21,e26,Maisie Covey,d1,b2,IT,Uptown
22,e2,Clemente Chastain,d2,b2,Sales,Uptown
23,e17,Reagan Masi,d2,b2,Sales,Uptown
24,e8,Agatha Kiesling,d3,b2,HR,Uptown
25,e23,Tabatha Gonser,d3,b2,HR,Uptown
26,e14,Moshe Stefani,d4,b2,Customer Support,Uptown
27,e29,Trenton Romo,d4,b2,Customer Support,Uptown
28,e5,Rita Burbridge,d5,b2,Finance,Uptown
29,e20,Carmen Uchida,d5,b2,Finance,Uptown

The above output shows all current employees and their corresponding departments and branch offices.

In [16]:
#Alternative solution with additional sort by department, then by branch
employees.merge(departments, how='inner').merge(branchoffices, how='inner').sort_values(by=['departmentId', 'branchId'])

,employeeId,name,departmentId,branchId,departmentName,branchName
0,e1,Kittie Anstett,d1,b1,IT,Downtown
1,e16,Wiley Simoneau,d1,b1,IT,Downtown
20,e11,Mai Mackiewicz,d1,b2,IT,Uptown
21,e26,Maisie Covey,d1,b2,IT,Uptown
10,e6,Shirlene Pagan,d1,b3,IT,Midtown
11,e21,Vannesa Boivin,d1,b3,IT,Midtown
2,e7,Dakota Earley,d2,b1,Sales,Downtown
3,e22,Samella Milsap,d2,b1,Sales,Downtown
22,e2,Clemente Chastain,d2,b2,Sales,Uptown
23,e17,Reagan Masi,d2,b2,Sales,Uptown
12,e12,Moon Asbell,d2,b3,Sales,Midtown
13,e27,Grayce Leishman,d2,b3,Sales,Midtown
4,e13,Lashunda Swinford,d3,b1,HR,Downtown
5,e28,Joshua Hewitt,d3,b1,HR,Downtown
24,e8,Agatha Kiesling,d3,b2,HR,Uptown
25,e23,Tabatha Gonser,d3,b2,HR,Uptown
14,e3,Merrilee Stong,d3,b3,HR,Midtown
15,e18,Marget Ary,d3,b3,HR,Midtown
6,e4,Shaunda Kowalczyk,d4,b1,Customer Support,Downtown
7,e19,Mohammed Polhemus,d4,b1,Customer Support,Downtown
26,e14,Moshe Stefani,d4,b2,Customer Support,Uptown
27,e29,Trenton Romo,d4,b2,Customer Support,Uptown
16,e9,Muriel Dauphin,d4,b3,Customer Support,Midtown
17,e24,Lucas Dupras,d4,b3,Customer Support,Midtown
8,e10,Alexia Everest,d5,b1,Finance,Downtown
9,e25,Nisha Hidalgo,d5,b1,Finance,Downtown
28,e5,Rita Burbridge,d5,b2,Finance,Uptown
29,e20,Carmen Uchida,d5,b2,Finance,Uptown
18,e15,Huong Tabares,d5,b3,Finance,Midtown
19,e30,Manuel Euell,d5,b3,Finance,Midtown

In [18]:
#Display full information only for employees assigned to a particular department (e.g., IT) using a boolean variable
deptIt= employees['departmentId'] == 'd1'
employees[deptIt].merge(departments, how='inner').merge(branchoffices, how='inner').sort_values(by=['departmentId', 'branchId'])

  employeeId            name departmentId branchId departmentName branchName
0         e1  Kittie Anstett           d1       b1             IT   Downtown
1        e16  Wiley Simoneau           d1       b1             IT   Downtown
4        e11  Mai Mackiewicz           d1       b2             IT     Uptown
5        e26    Maisie Covey           d1       b2             IT     Uptown
2         e6  Shirlene Pagan           d1       b3             IT    Midtown
3        e21  Vannesa Boivin           d1       b3             IT    Midtown